<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QS_Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <QS_Server.Properties.Settings>
            <setting name="IPAddress" serializeAs="String">
                <value>192.168.1.12</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>9200</value>
            </setting>
            <setting name="YHUser" serializeAs="String">
                <value />
            </setting>
            <setting name="启动路径" serializeAs="String">
                <value>C:\myC#\测试\唤醒</value>
            </setting>
            <setting name="启动程序名" serializeAs="String">
                <value>NBTxxqs_heating.exe</value>
            </setting>
            <setting name="开关" serializeAs="String">
                <value>开启</value>
            </setting>
        </QS_Server.Properties.Settings>
    </userSettings>
</configuration>